.social-icon {
    width: 50px;
    height: 50px;
    padding-left: 2px;
    padding-right: 2px;
    object-fit: contain;
    will-change: filter;
    transition: filter 300ms;
  }
  .social-icon:hover {
    filter: drop-shadow(0 0 2em #5BACDC);
  }
  .social-icon.react:hover {
    filter: drop-shadow(0 0 2em #5BACDC);
  }

  
  /* Footer container */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, #34383B, #161C21);
  padding: 1rem 2rem;
  color: #D9D9D9; /* Light grey text color for links */
  border-top: 4px solid #5BACDC; /* Beveled top edge with light blue */
}

/* Footer sections */
.footer-left, .footer-center, .footer-right {
  display: flex;
  align-items: center;
}

/* Footer links */
.footer-link {
  text-decoration: none;
  color: #D9D9D9; /* Default color for links */
  margin: 0 1rem;
  font-size: 1rem;
  transition: color 0.3s ease; /* Smooth color change on hover */
}

/* Hover effect for links */
.footer-link:hover {
  color: #5BACDC; 
}


.social-link {
  margin: 0 1rem;
}

.social-logo {
  width: 30px; 
  height: 30px; 
  transition: opacity 0.3s ease; 
}


.social-link:hover .social-logo {
  opacity: 0.7; 
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem; 
  }

  
  .footer-left, 
  .footer-center, 
  .footer-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  
  .footer-link {
    margin: 5px 0;
    font-size: 0.9rem; 
  }

  
  .footer-center {
    flex-direction: row;
    justify-content: center;
  }

  .social-icon {
    width: 40px; 
    height: 40px;
    margin: 5px;
  }
}