/* Main header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34383B;
  background-image: linear-gradient(to bottom, #34383B, #161C21);
  padding: 0rem 2rem;
  color: white;
}

/* Logo container */
.logo-container {
  flex-shrink: 0;
  padding:0;
  height: 100%;
  width: auto;
}

.logo {
  width: 250px;
  height: 250px;
  object-fit: contain;
  display:block;
  margin: 0;
  padding: 0 !important;
  will-change: filter;
  transition: filter 300ms;
}
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

/* Company title */
.title-container {
  flex-grow: 1;
  text-align: center;
}

.company-title {
  font-size: 4.8rem;
  font-weight: bold;
  color: #D3D3D3;
  color: rgba(91,172,220, 0.8);
  text-shadow: 3px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
  font-family: "Calibri", sans-serif;
}

/* Contact info container */
.contact-info {
  text-align: right;
  font-size: 1.2rem;
}

.phone, .address {
  margin: 0;
}

.phone {
  color: #5BACDC; 
}

.address {
  color: #5BACDC; 
}

/* Optional: Add hover effect to the phone and address */
.phone:hover, .address:hover {
  text-decoration: underline;
  color: #161C21; /* Deep navy blue on hover */
}


@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .logo {
    width: 150px; 
    height: auto;
  }

  .title-container {
    margin-bottom: 10px;
  }

  .company-title {
    font-size: 2rem;
  }

  .contact-info {
    font-size: 1rem;
    text-align: center;
  }
}

/* Mobile Screens (480px and below) */
@media screen and (max-width: 480px) {
  .logo {
    width: 120px;
  }

  .company-title {
    font-size: 1.6rem;
  }

  .contact-info {
    font-size: 0.9rem;
  }
}